sublime-text-3/Cache
sublime-text-3/Index
sublime-text-3/Local
sublime-text-3/Installed Packages
sublime-text-3/Packages/Anaconda
sublime-text-3/Packages/SublimeREPL
sublime-text-3/Packages/User/.SublimeREPLHistory
sublime-text-3/Packages/oauthlib
sublime-text-3/Packages/pygments
sublime-text-3/Packages/pyyaml
sublime-text-3/Packages/requests-oauthlib
sublime-text-3/Packages/requests
sublime-text-3/Packages/ssl-linux
sublime-text-3/Packages/tabulate
sublime-text-3/Packages/User/Package Control.cache/
sublime-text-3/Packages/User/Package\ Control.cach/*
sublime-text-3/Packages/User/Package Control.last-run
